In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet('output/full_data.parquet/')

In [4]:
df.columns

Index(['STATION', 'YEARMONTH', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN',
       'LAT', 'LONG', 'ELEV', 'NAME', 'ZIP', 'COUNTRY_CODE', 'STATE_CODE',
       'STATE_CITY_NAME', '__index_level_0__'],
      dtype='object')

In [5]:
df.shape

(53318839, 17)

In [7]:
df.groupby(['STATION']).agg({'LAT':'mean'})

                 LAT
STATION
US009052008  43.7333
US10adam001  40.5680
US10adam002  40.5093
US10adam004  40.4798
US10adam006  40.4372
...              ...
USW00096405  60.4731
USW00096406  64.5014
USW00096407  66.5620
USW00096408  63.4519
USW00096409  68.6483

[39846 rows x 1 columns]